{% extends 'adminbase.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="agileinfo-grap">
    <section class="panel">
        <header class="panel-heading">
            All Users
        </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Image</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td><img style="width:100%;height: 100%; max-height: 250px;max-width: 250px; " src="{{ asset('uploads/images/'~user.image) }}"> </td>
                <td>{{ user.status }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <br><br>
                    <a class="btn btn-info" href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                    <br><br>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
        <a class="btn btn-compose" href="{{ path('admin_user_new') }}">Create new</a>

    </div>

{% endblock %}
