<script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl1JmQoX/www-widgetapi.js" async=""></script><script src="https://www.youtube.com/iframe_api?v=3.1.4" id="YTAPI"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--=== Favicon ===-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<title>Cardoor - Car Rental HTML Template</title>

<!--=== Bootstrap CSS ===-->
<link href="{{ asset('assets')}}/main/css/bootstrap.min.css" rel="stylesheet">
<!--=== Slicknav CSS ===-->
<link href="{{ asset('assets')}}/main/css/plugins/slicknav.min.css" rel="stylesheet">
<!--=== Magnific Popup CSS ===-->
<link href="{{ asset('assets')}}/main/css/plugins/magnific-popup.css" rel="stylesheet">
<!--=== Owl Carousel CSS ===-->
<link href="{{ asset('assets')}}/main/css/plugins/owl.carousel.min.css" rel="stylesheet">
<!--=== Gijgo CSS ===-->
<link href="{{ asset('assets')}}/main/css/plugins/gijgo.css" rel="stylesheet">
<!--=== FontAwesome CSS ===-->
<link href="{{ asset('assets')}}/main/css/font-awesome.css" rel="stylesheet">
<!--=== Theme Reset CSS ===-->
<link href="{{ asset('assets')}}/main/css/reset.css" rel="stylesheet">
<!--=== Main Style CSS ===-->
<link href="{{ asset('assets')}}/main/style.css" rel="stylesheet">
<!--=== Responsive CSS ===-->
<link href="{{ asset('assets')}}/main/css/responsive.css" rel="stylesheet">


<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->