{% extends 'Adminbase.html.twig' %}

{% block title %}Araba index{% endblock %}

{% block body %}
    <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
        function openWin(windowURL,windowName,windowFeatures)
        {
            window.open(windowURL,windowName,windowFeatures);
        }
    </SCRIPT>

<div class="agileinfo-grap">
    <header class="panel-heading">
        All Cars , Tatal Car : {{ carcount }}
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Model</th>
                <th>Gear</th>
                <th>Fue</th>
                <th>Model Year</th>
                <th>Gallery</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for araba in arabas %}
            <tr>
                <td>{{ araba.id }}</td>
                <td>{{ araba.title }}</td>
                <td>{{ araba.Keywords }}</td>
                <td>{{ araba.Description }}</td>
                <td><img style="width:150px;height:100px;" src="{{ asset('uploads/images/'~ araba.image) }}"></td>
                <td>{{ araba.Brand }}</td>
                <td>{{ araba.Price }}</td>
                <td>{{ araba.Model }}</td>
                <td>{{ araba.Gear }}</td>
                <td>{{ araba.Fue }}</td>
                <td>{{ araba.Modealyear }}</td>
                <td><a href="#" onclick="window.open(' {{ path('admin_imggallery_new', {'id': araba.id}) }}','','location=no,toolbar=no,scrollbars=yes,resizable=no,top=500,left=500,width=600,height=800');"><img style="width:50px;height:50px;" src="{{ asset('assets/icons/gallery.png') }}"></a></td>
                <td>
                    <a href="{{ path('admin_araba_show', {'id': araba.id}) }}" class="btn btn-primary">show</a>
                    <br><br>
                    <a href="{{ path('admin_araba_edit', {'id': araba.id}) }}" class="btn btn-primary">edit</a>
                    <br><br>
                    {{ include('admin/araba/_delete_form.html.twig') }}

                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('admin_araba_new') }}">Create new</a>
</div>
    {% endblock %}
