{% extends 'adminbase.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="agileinfo-grap">

    <h1></h1>
    <div class="panel-heading">
        Kategori Düzenleme Paneli
    </div>
    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Parentid</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.parentid }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.keywords }}</td>
                <td>{{ category.description }}</td>
                <td><img src="{{ asset('uploads/images/'~category.image) }}"></td>
                <td>{{ category.status }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-compose" href="{{ path('category_new') }}">Create new</a>
</div>
{% endblock %}
