{% extends 'base.html.twig' %}

{% block title %}AdminComment index{% endblock %}

{% block body %}
    <h1>AdminComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Ip</th>
                <th>Userid</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_comment in admin_comments %}
            <tr>
                <td>{{ admin_comment.id }}</td>
                <td>{{ admin_comment.subject }}</td>
                <td>{{ admin_comment.comment }}</td>
                <td>{{ admin_comment.status }}</td>
                <td>{{ admin_comment.ip }}</td>
                <td>{{ admin_comment.userid }}</td>
                <td>{{ admin_comment.createdAt ? admin_comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admin_comment.updatedAt ? admin_comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admin_comment.rate }}</td>
                <td>
                    <a href="{{ path('admin_comment_show', {'id': admin_comment.id}) }}">show</a>
                    <a href="{{ path('admin_comment_edit', {'id': admin_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_comment_new') }}">Create new</a>
{% endblock %}
